*{
    color: white;
}
ul{
    list-style-type: none;
    padding-left: 0;
    padding-right: 0;
}
img{
    height: 150px;
    width: 150px;
}
body{
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    direction: rtl;
}
video{
    height: 400px;
    width: 600px;
}
.h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 35px;
    animation: h1 2s both infinite alternate;
}
@keyframes h1{
    from{
        color: white;
    }
    to{
        color: red;
    }
}
.h2{
    color: red;
    font-weight: bolder;
}
@media (min-width:440px) and (max-width:800px) {
    video{
        height: 200px;
        width: 400px;
    }
    audio{
        height: 40px;
        width: 200px;
    }
}
@media (min-width:240px) and (max-width:439px) {
    video{
        height: 150px;
        width: 200px;
    }
    audio{
        height: 30px;
        width: 200px;
    }
}
@media (min-width:190px) and (max-width:239px) {
    video{
        height: 100px;
        width: 150px;
    }
    audio{
        height: 30px;
        width: 160px;
    }
}
@media (min-width:0px) and (max-width:189px) {
    video{
        height: 70px;
        width: 130px;
    }
    audio{
        height: 20px;
        width: 160px;
    }
}
mark{
    background: rgba(255, 255, 255, 0.5);
}
a{
    color: chartreuse;
    font-size: 30px;
    text-decoration: none;
    width: 34px;
}
a:hover{
    color: yellow;
}
img{
    height: 300px;
    width: 200px;
}
@media (min-width:0px) and (max-width:300px) {
    img{
        width: 100px;
        height: 200px;
    }
}