body{
    background: radial-gradient(at center ,rgb(0, 132, 255) , white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    direction: rtl;
}
/* و إسلاماه */
.text{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    position: relative;
}
.h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: rgb(140, 89, 223);
    text-decoration: none;
    transition: 1s all;
}
.h1:hover{
    color: rgb(78, 187, 181);
    cursor: default;
}
/* Items */
.div{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
}
.div div{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 290px;
    width: 290px;
    transition: all 0.7s;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
}
.div div:hover{
    transform: scale(0.95);
    background-color: rgb(121, 193, 226);
}
.div div a{
    color: white;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    position: relative;
    top: 30px;
    transition: all 0.5s; 
}
.div div a:hover{
    color: chartreuse;
    transform: scale(1.05);
}
/* about */
.about h1{
    color: white;
    animation: ah1 4s infinite both;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    font-size: 40px;
    font-style: italic;
}
@keyframes ah1{
    0%{
        color: rgb(245, 41, 41);
    }
    25%{
        color: rgb(90, 238, 90);
    }
    50%{
        color: rgb(103, 103, 226);
    }
    75%{
        color: rgb(168, 39, 168);
    }
    100%{
        color: white;
    }
}
@media (min-width:240px) and (max-width:480px) {
    .div div{
        height: 200px;
        width: 200px;
    }
    .div div a{
        font-size: 15px;
        top: 25px;
    }
}
@media (min-width:176px) and (max-width:239px) {
    .div div{
        height: 150px;
        width: 150px;
    }
    .div div a{
        font-size: 10px;
        top: 25px;
    }
}
@media (min-width:0px) and (max-width:175px) {
    .div div{
        height: 150px;
        width: 120px;
    }
    .div div a{
        font-size: 10px;
        top: 25px;
    }
}
