*{
    color: white;
}
body{
    background: rgb(79, 79, 211);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}
video{
    height: 400px;
    width: 600px;
}
.h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 35px;
    animation: h1 1.5s infinite alternate;
}
h2 a{
    color: lawngreen;
    text-decoration: none;
    font-size: 30px;
}
a:hover{
    color: aqua;
}
@keyframes h1{
    from{
        color: white;
    }
    to{
        color: red;
    }
}
.h2{
    color: red;
    font-weight: bolder;
}
@media (min-width:440px) and (max-width:800px) {
    video{
        height: 200px;
        width: 400px;
    }
    h1{
        font-size: 20px;
    }
    .h1{
        font-size: 20px;
    }
    audio{
        height: 30px;
        width: 160px;
    }
}
@media (min-width:240px) and (max-width:439px) {
    video{
        height: 150px;
        width: 200px;
    }
    h1{
        font-size: 15px;
    }
    .h1{
        font-size: 15px;
    }
    audio{
        height: 30px;
        width: 160px;
    }
    h2 a{
        font-size: 25px;
    }
}
@media (min-width:190px) and (max-width:239px) {
    video{
        height: 100px;
        width: 150px;
    }
    h1{
        font-size: 10px;
    }
    .h1{
        font-size: 10px;
    }
    audio{
        height: 30px;
        width: 160px;
    }
    h2 a{
        font-size: 20px;
    }
}
@media (min-width:0px) and (max-width:189px) {
    video{
        height: 70px;
        width: 130px;
    }
    h1{
        font-size: 8px;
    }
    .h1{
        font-size: 8px;
    }
    audio{
        height: 20px;
        width: 160px;
    }
    h2 a{
        font-size: 20px;
    }
}
h1:hover{
    cursor: default;
}